@tailwind base;
@tailwind components;
@tailwind utilities;


/*字體樣式*/

h1{
  @apply text-5xl lg:text-6xl font-light tracking-tight;
}

h2{
  @apply text-4xl lg:text-5xl font-light tracking-normal;
}

h3{
  @apply text-3xl lg:text-4xl font-normal tracking-normal;
}

h4{
  @apply text-2xl lg:text-3xl font-normal tracking-normal;
}

h5{
  @apply text-xl lg:text-2xl font-normal tracking-normal;
}

h6{
  @apply text-lg lg:text-xl font-normal tracking-normal;
}

p{
  @apply text-base font-normal tracking-normal;
}

span{
  @apply text-sm font-normal tracking-normal;
}

*{
  @layer font-sans;
}

body{
  @apply bg-cover bg-no-repeat bg-fixed ;
}

body{
  background-image: url('./src/img/background.svg');
}


/*導覽列*/

.navbar{
  @apply w-full flex justify-between items-center px-6 lg:px-12 xl:px-20 py-4 fixed bg-white/70 z-50 backdrop-blur-md drop-shadow-sm;
},

.navbar-container{
  @apply flex justify-between w-full;
}

.logo{
  @apply h-12;
}

.menu-wrapper{
  @apply hidden lg:flex;
},

.menu-item{
  @apply flex py-3 mx-4 justify-center text-base relative focus:text-primary cursor-pointer;
}

.menu-item::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #0052CC;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.4s;
}

.menu-item:hover::after{
  transform: scaleX(1);
}

/*導覽列-行動btn*/

#hamburger{
  @apply block lg:hidden;
}

.hamburger{
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
  appearance: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger::before, .hamburger::after{
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000000;  
  margin: 6px 0px;
  transform: translateX(50%);
  transition: 0.4s;
}

.is-active{
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
  appearance: none;
  outline: none;
  border: none;
}

.is-active::before{
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000000;  
  margin: 6px 0px;
  transform: rotate(45deg) translate(46%,10%);
  
}

.is-active::after{
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #000000;  
  margin: 6px 0px;
  transform: rotate(-45deg) translate(46%,-10%);
}

.is-active .bar{
  opacity: 0;
}

/*導覽列-行動nav*/

.offcanvas {
  @apply block lg:hidden bg-gradient-to-b from-primary-container via-tertiary-container to-secondary-container;
}

.offcanvas{
  position: fixed;
  left: 100%;
  z-index: 30;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
}

.offcanvas-active{
  position: fixed;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
}


.offcanvas-menu-wrapper{
  @apply flex flex-col items-center justify-center relative h-full;
}

.offcanvas-menu-item{
  padding: 12px 18px;
  margin: 8px;
  cursor: pointer;
}

.offcanvas-menu-item::after{
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background-color: #0052CC;
  transform: scaleX(0);
  transition: 0.4s;
}

.offcanvas-menu-item:focus{
  color: #0052CC;
}

.offcanvas-menu-item:hover::after{
  transform: scaleX(1);
}

.offcanvas-menu-item:focus::after{
  transform: scaleX(1);
}



/*hero樣式*/

.hero{
  @apply w-full h-screen flex justify-center items-center lg:container lg:mx-auto;
  animation: showup 1s;
}

.hero-left{
  @apply w-full lg:w-1/2 h-full flex flex-col justify-center items-center mx-6 lg:ml-12 lg:mx-0;
}

.hero-right{
  @apply w-full lg:w-1/2 h-full hidden lg:flex justify-center lg:items-center;
  animation: enter 1s;
}

.decoline-wrapper{
  @apply flex overflow-hidden;
}

.decoline{
  @apply flex whitespace-nowrap items-center p-2 bg-gradient-to-r from-sky-100 via-teal-100 to-amber-100;
}

.ticker-text{
  @apply text-white text-4xl font-Poppins font-semibold tracking-wide px-1;
  animation: ticker 20s linear infinite;
}

/*CTA*/

.cta{
  @apply mt-12 relative cursor-pointer;
}

.cta-btn{
  @apply flex flex-col sm:flex-row justify-center items-center px-12 py-4 rounded-full bg-gradient-to-r from-primary-container via-tertiary-container to-secondary-container;
}

.cta-bottom{

}

.cta-bottom-btn{
  @apply w-full flex flex-col sm:flex-row justify-center items-center py-4 lg:py-12 rounded-full bg-gradient-to-r from-primary-container via-tertiary-container to-secondary-container;
}

/*app介紹*/

.benefit-left{
  @apply sticky top-0;
}

.benefit-right{
  @apply w-full h-screen flex justify-center items-center;
}

.benefit-right-content{
  @apply w-full h-full mx-6 lg:mx-12 xl:mx-auto flex flex-col justify-center items-center;
}


/*服務介紹樣式*/

.service-outline-1{
  @apply  absolute top-0 left-0 bg-white;
}

.service-outline-2{
  @apply origin-bottom-left rotate-90 z-40 absolute top-0 left-0 bg-white;
}

.service-outline-3{
  @apply origin-bottom-right -rotate-90 z-40 absolute top-0 right-0 bg-white;
}

.service-outline-4{
  @apply translate-x-14 absolute bottom-0 left-0 bg-white;
}




/*產品介紹*/

.swiper-wrapper{
  @apply flex;
}

.swiper-slide{
  @apply h-auto;
}

.slide-card{
  @apply rounded-2xl border-8 border-black bg-white h-full;
}

.slide-text{
  @apply px-4 py-6;
}

/*產品介紹 - 上方*/


.slide-title{
  @apply flex justify-between items-center;
}

.product-items{
  @apply mt-4;
}

.product-item{
  @apply mt-2;
}


/*產品介紹 - 下方*/

.slide-bottom{
  @apply mt-4;
}

.check-circle{
  @apply mr-1 text-xl;
}

.material-items{
  @apply block;
}
.material-items-row{
  @apply block lg:flex items-center;
}
.material-item{
  @apply flex items-center mr-3;
}

.basic-service-items{
  @apply block lg:flex items-center;
}
.basic-service-item{
  @apply flex items-center mr-3;
}

.add-on-service-items{
  @apply block lg:flex items-center;
}
.add-on-service-item{
  @apply flex items-center mr-3;
}

/*產品介紹 - 外框*/

.product-outline-primary{
  @apply bg-primary absolute -z-30 w-full h-full -translate-y-4 -translate-x-4 rounded-2xl overflow-hidden;
}

.product-outline-primary-1{
  @apply translate-x-1 absolute top-0 left-0 -z-20;
}

.product-outline-primary-2{
  @apply origin-bottom-left rotate-90 absolute top-0 left-0 -z-20;
}

.product-outline-black{
  @apply bg-black absolute -z-10 w-full h-full translate-y-4 translate-x-4 rounded-2xl;
}





/*動畫*/

.img-left{
  animation: aniTransX 5s infinite;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}

.img-right{
  animation: -aniTransX 5s infinite;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}

.img-center{
  animation: aniTransY 5s infinite;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}

.img-bg{
  animation: -aniTransY 5s infinite;
  animation-timing-function: cubic-bezier(.42,0,.58,1);
}


@keyframes aniTransX{
  0%,100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10%);
  }
}

@keyframes -aniTransX{
  0%,100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-20%);
  }
}

@keyframes aniTransY{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(5%);
  }
}

@keyframes -aniTransY{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5%);
  }
}

@keyframes showup{
  0%{
    opacity: 0;
  }
  100%{
    opacity:100%;
  }
}

@keyframes enter{
  0%{
    transform: translateX(10%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes ticker{
  0%{
    transform: translateX(0)
  }
  100%{
    transform: translateX(-40%)
  }
}